name: 'Continuous Delivery'

on:
  push:
    branches:
      - develop

env:
  PROJECT_ID: latam-challenge-egrytsenko
  IMAGE: gcr.io/latam-challenge-egrytsenko/latam-challenge-egrytsenko

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ env.PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Authorize Docker push
      run: gcloud auth configure-docker

    - name: Build and push Docker image
      run: |
        docker build -t ${{ env.IMAGE }}:latest .
        docker push ${{ env.IMAGE }}:latest

    - name: Deploy to Cloud Run
      id: deploy
      uses: google-github-actions/deploy-cloudrun@main
      with:
        service: latam-challenge-egrytsenko-api
        image: ${{ env.IMAGE }}:latest
        credentials: ${{ secrets.GCP_SA_KEY }}
